.sec3-1{
    background: url("https://i.imgur.com/6ewIWuO.jpg") no-repeat ;
    background-size: cover;
    height: 800px;
    overflow: hidden;
}
.sec3-1-text{
    font-size: 75px;
    color: black;
    text-transform: uppercase;
    transform: translate(650px,150px);
}
.sec3-1 .shopbutton{
    transform: translate(650px,250px);
}
.sec3-2{
    background: url("https://i.imgur.com/cR1UWeb.jpg") no-repeat ;
    background-size: cover;
    height: 800px;
    overflow: hidden;
}
.sec3-2-text{
    font-size: 75px;
    color: black;
    text-transform: uppercase;
    transform: translate(50px,50px);
}
.sec3-2 .shopbutton{
    transform: translate(50px,120px);
}
.sec3-3{
    height: 600px;
    background-color: honeydew;
}
.shopcard{
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-gap: 50px;
    padding: 40px;
}
.shop-image{
    object-fit: cover;
    width: 100%;
    max-width: 100%;
}
.shopcard>a{
    background-color: rgb(183, 206, 248);
    text-decoration: none;
    border-radius: 0px 0px 0px 40px;
}
.card-title{
    color: black;
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
}
.sec3-4{
    height: 300px;
    background-color: rgb(59, 59, 59);
}
.facility{
    display: flex;
    justify-content: space-around;
    background-color: rgb(59, 59, 59);
}
.faci1{
    margin: 90px;
}
.faci1>i{
    font-size: 100px;
    color: rgb(129, 127, 127);
    text-align: center;
}
.faci1>h1{
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(129, 127, 127);
}
